@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-purple: 134 93 255;
    --brand-pink: 227 132 255;
    --brand-light-pink: 255 163 253;
    --primary-bg: 251 251 251;
    --secondary-bg: 232 232 232;
    --ternary-bg: 187 191 202;
    --primary-text: 21 21 21;
    --secondary-text: 12 12 12;
    --ternary-text: 104 109 118;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: 25 24 37;
    --secondary-bg: 73 84 100;
    --ternary-bg: 43 43 43;
    --primary-text: 255 253 240;
    --secondary-text: 248 250 252;
    --ternary-text: 166 174 191;
  }
}
