@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-purple: 134 93 255;
    --brand-pink: 227 132 255;
    --brand-light-pink: 255 163 253;
    --primary-bg: 251 251 251;
    --secondary-bg: 232 232 232;
    --ternary-bg: 187 191 202;
    --primary-text: 21 21 21;
    --secondary-text: 12 12 12;
    --ternary-text: 104 109 118;
    --special-color: 0 255 202;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: 25 24 37;
    --secondary-bg: 73 84 100;
    --ternary-bg: 43 43 43;
    --primary-text: 255 253 240;
    --secondary-text: 238 238 238;
    --ternary-text: 166 174 191;
  }
}

.gradient-orb {
  background: linear-gradient(300deg, deepskyblue, darkviolet, blue);
  background-size: 180% 180%;
  animation: gradient-animation 2s ease infinite;
}

.mac-open-animation {
  animation: mac-open 0.7s ease-in-out forwards;
}
@keyframes mac-open {
  0% {
    transform: skew(0deg);
    translate: -50% 50%;
    scale: 0.3 0.5;
    opacity: 0.5;
  }
  20% {
    transform: skew(-0.2deg, 20deg);
    translate: -50% 40%;
    scale: 0.3 0.5;
    opacity: 1;
  }
  50% {
    transform: skew(0.5deg, 30deg);
    /* scale: 0.4; */
    translate: -50% 30%;
    opacity: 1;
  }
  70% {
    transform: skew(0.2deg, 20deg);
    translate: -50% 20%;
    scale: 0.7;
    opacity: 1;
  }
  100% {
    transform: skew(0);
    scale: 1;
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
